body {
  margin: 0;
  font-family: "Segoe UI";
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #020617;
}

.nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.secondary {
  background: #3b82f6;
}

/* SECTION */
.section {
  padding: 60px 20px;
  text-align: center;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  margin: 15px;
  width: 260px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* SKILLS */
.skills span {
  display: inline-block;
  background: #334155;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
}