body {
  margin: 0;
  font-family: "Segoe UI";
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
}

.container {
  text-align: center;
}

.hero {
  padding: 80px 20px;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.secondary {
  background: #3498db;
}

.projects {
  padding: 40px;
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.skills {
  padding: 40px;
}

.skills-list span {
  display: inline-block;
  background: rgba(255,255,255,0.2);
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
}

.contact {
  padding: 40px;
}